.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem 5rem;
  background: rgba(249, 249, 249, 0.2);
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "BDSans";
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  filter: invert(32%) sepia(100%) saturate(2332%) hue-rotate(83deg)
    brightness(93%) contrast(91%);
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightSide ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.rightSide li {
  margin: 0;
  margin-right: 50px;
  color: rgb(195, 192, 192);
}

.navLink {
  text-decoration: none;
  color: rgb(195, 192, 192);
  transition: color 0.3s, transform 0.3s;
  position: relative;
}

.navLink::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s, transform 0.3s;
}

.navLink:hover {
  color: #b4f046;
}

.navLink:hover::after {
  background-color: #b4f046;
}

.activeLink {
  color: #b4f046;
}

.activeLink::after {
  background-color: #b4f046;
  height: 4px;
  transform: scaleY(1);
}

.subLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(222, 222, 222);
  font-size: 0.7rem;
}

.line {
  border: none;
  border-left: 1px solid rgb(226, 226, 226);
  height: 10px;
  margin-right: 4px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: rgb(0, 60, 60);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  font-family: "BDSans";
  overflow: hidden;
}

.showMobileNav {
  transform: translateX(0);
}

.hideMobileNav {
  display: none;
}

.mobileNav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.mobileNav li {
  margin: 10px 0;
}

.mobileNav a,
.mobileNav button {
  color: white;
  text-decoration: none;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
  .rightSide {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
