@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  overflow-x: hidden; /* Prevent horizontal overflow */
}

@font-face {
  font-family: "JakartaSans";
  src: url("../public/fonts/PlusJakartaSans-Regular.ttf") format("truetype"),
    url("../public/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JakartaSansBold";
  src: url("../public/fonts/PlusJakartaSans-Bold.ttf") format("truetype"),
    url("../public/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BDSans";
  src: url("../public/fonts/BDSans-Regular.ttf") format("truetype"),
    url("../public/fonts/BDSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BDSansBold";
  src: url("../public/fonts/BDSans-Bold.ttf") format("truetype"),
    url("../public/fonts/BDSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
