.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
