.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.video {
  position: sticky; /* Sticky position */
  top: 0; /* Stick to the top of the container */
  left: 0;
  width: 100%;
  height: 100%; /* Full height of the container */
  object-fit: cover; /* Cover the container */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}
